<% include ../partials/head %>

<body>
    <% include ../partials/headers/main %>
    <section class="activities">
        <h2>Activities I would be interested in:</h2>
        <div class="activity-icons">
            <img src="images/ic_ac_chat.png" alt="">
        </div>
        <button>
            +
        </button>
    </section>
    <main>
        <h2>Available people nearby:</h2>
        <section class="images">
            <div class="more-photos"></div>
            <img src="images/profile_pictures/profile3.jpg" alt="">
            <div class="about"></div>
        </section>
        <section class="info">
            <h2>Activities Susan would be interested in:</h2>
            <div class="activity-icons">
                <img src="images/ic_ac_chat.png" alt="">
                <img src="images/ic_ac_coffee.png" alt="">
            </div>
        </section>
    </main>
    <footer>
        <button>
            <img src="images/ic_cross.png" alt="don't like">
        </button>
        <button>
            <img src="images/ic_love.png" alt="like">
        </button>
    </footer>
</body>

</html>