<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styling.css">
    <title>MeetMe</title>
</head>

<body class="grey-section">
    <header>
        <nav>
            <a href="index.html">
                <img src="images/ic_back.png" alt="profile">
            </a>
            <h1>Change / Add Information</h1>
        </nav>
    </header>
    <main class="main-information">
        <form action="/form-handler" method="POST">
            <fieldset>
                <h2>My Info</h2>
                <div>
                    <label for="name">My Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="birthday">My Birthday</label>
                    <input type="text" name="birthday" id="birthday" value="dd/mm/yyyy">
                </div>
                <div>
                    <label for="introduction">My Introduction</label>
                    <textarea name="introduction" id="introduction"
                        rows="2">In my experience conversations in dating apps are really superficial. It’s too easy to forget to answer for a day or two or just lose interest when someone doesn’t answer right away. Because of that it’s not always easy to go from starting a conversation to planning a date, but there’s even more obstacles. People don’t always live in the same city and they’re not always available.</textarea>
                </div>
            </fieldset>
            <fieldset>
                <h2>My Interests</h2>
                <div>
                    <label for="music">Music</label>
                    <select name="music" id="music">
                        <option value="Hate it">Hate it</option>
                        <option value="Dislike it">Dislike it</option>
                        <option value="Neutral">Neutral</option>
                        <option value="Like it">Like it</option>
                        <option value="Love it">Love it</option>
                    </select>
                </div>
                <div>
                    <label for="movies">Movies</label>
                    <select name="movies" id="movies">
                        <option value="Hate it">Hate it</option>
                        <option value="Dislike it">Dislike it</option>
                        <option value="Neutral">Neutral</option>
                        <option value="Like it">Like it</option>
                        <option value="Love it">Love it</option>
                    </select>
                </div>
                <div>
                    <label for="books">Books</label>
                    <select name="books" id="books">
                        <option value="Hate it">Hate it</option>
                        <option value="Dislike it">Dislike it</option>
                        <option value="Neutral">Neutral</option>
                        <option value="Like it">Like it</option>
                        <option value="Love it">Love it</option>
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <h2>My favorite animal</h2>
                <div>
                    <div>
                        <input type="radio" name="animal" id="dog">
                        <label for="dog">Dog</label>
                    </div>
                </div>
                <div>
                    <label for="dog_breed" title="Breed of dog">Breed:</label>
                    <input type="text" name="dog_breed" id="dog_breed">
                </div>
                <div>
                    <div>
                        <input type="radio" name="animal" id="cat">
                        <label for="cat">Cat</label>
                    </div>
                </div>
                <div>
                    <label for="cat_breed" title="Breed of cat">Breed:</label>
                    <input type="text" name="cat_breed" id="cat_breed">
                </div>
            </fieldset>
            <fieldset class="fieldset-save">
                <button type="submit" value="submit" class="save-button">Save</button>
            </fieldset>
        </form>
    </main>
</body>

</html>