<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styling.css">
    <title>MeetMe</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img src="images/ic_back.png" alt="profile">
            </a>
            <h1>My profile</h1>
        </nav>
    </header>
    <main>
        <h2>My photos:</h2>
        <section class="images">
            <img src="images/profile_pictures/profile7.jpg" alt="">
        </section>
        <section class="info">
            <h2>About Me</h2>
            In my experience conversations in dating apps are really superficial. It’s too easy to forget to answer for a day or two or just lose interest when someone doesn’t answer right away. Because of that it’s not always easy to go from starting a conversation to planning a date, but there’s even more obstacles. People don’t always live in the same city and they’re not always available.
        </section>
    </main>
    <footer>
        <a href="#">
            <span>Change / Add Pictures</span>
        </a>
        <a href="information">
            <span>Change / Add Information</span>
        </a>
    </footer>
</body>

</html>