<% include ../partials/head %>
<body class="grey-section">
    <% include ../partials/headers/settings %>
    <main class="main-information">
        <button class="btn-reset" id="js-logout" data-id="<%= id %>">Log Out</button>
        <button class="btn-reset" id="js-remove" data-id="<%= id %>">Delete Profile</button>
    </main>
</body>
<script src=/scripts/delete.js></script>
</html>